$russianblue: #0062AA
$russianred: #E21C2A
$accentblue: #005391

@font-face 
    font-family: Exo
    src: url('../public/fonts/Exo2.0-Regular.otf')

@font-face 
    font-family: Montserrat
    src: url(../public/fonts/Montserrat-Regular.otf)

@font-face 
    font-family: ProximaNova
    src: url(../public/fonts/ProximaNova-Regular.ttf)



    
html, body 
    margin: 0
    padding: 0
    height: 100%
    background-color: white
    overflow-x: hidden

header
    display: flex
    height: 10vh
    width: 65vw
    justify-content: space-between
    padding-left: 17.5vw
    padding-right: 17.5vw
    padding-top: 3vh
    padding-bottom: 2vh

#logo
    display: flex
    & > div
        width: 10vw
        height: 10vh
    & > span
        margin-top: 1.5vh
        margin-left: 1vw
        font-family: Exo
        color: $russianblue
        & > label
            color: $russianred

.title
    display: flex
    background-color: $russianblue
    width: 100vw
    height: 35vh
    padding-top: 14vh
    padding-bottom: 14vh
    &__main
        display: flex
        padding-top: 10vh
        padding-bottom: 10vh
        padding-left: 20vw
        width: 100%
        background-color: rgba(0, 0, 0, 0.15);
        &__text
            margin-top: -4vh
            color: white
            font-family: Exo
        &__flag
            margin-top: -12.5vh
            margin-left: 5vw
            background-color: white
            border-radius: 10000px
            height: 42vh
            width: 42vh
            & > div:first-child
                z-index: 1001
                margin-left: -5vw
                transform: matrix(1, 0.08, 0.08, 1, 0, 0)
                background-image: url('../public/pictures/flag1.png')
                background-size: contain
                background-repeat: no-repeat
                height: 42vh
                width: 45vh
            & > div:last-child
                z-index: -1
                margin-top: -42vh
                transform: matrix(1, 0.08, 0.08, 1, 0, 0)
                background-image: url('../public/pictures/flag.png')
                background-size: contain
                background-repeat: no-repeat
                height: 42vh
                width: 45vh

.subtitle
    text-align: center
    align-items: center
    background-color: white
    margin-left: 20vw
    margin-right: 20vw
    padding-top: 3.5vh
    padding-bottom: 3vh
    padding-left: 1vw
    padding-right: 1vw
    height: 5.5vh
    width: 60vw
    margin-top: -6vh
    border-radius: 15px
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
    font-family: Montserrat

.info
    display: flex
    flex-direction: column
    &__available
        margin-top: 5vh
        & > h1 
            color: $accentblue
            text-align: center
            font-family: Exo
        &__table
            display: flex
            flex-direction: column
            margin-top: 3vh
            margin-bottom: 5vh
            &__row
                display: flex
                margin-left: 19vw
                &:last-child
                    margin-top: 2vh
                & > div
                    display: flex
                    width: 30vw
                    height: 12vh
                    border: 1px solid #E6E6E6
                    box-sizing: border-box
                    &:first-child
                        margin-right: 2vw
                    & > div:last-child
                        width: 21vw
                        & > h3 
                            font-family: Exo
                            text-transform: uppercase
                        & > p 
                            margin-top: -1.5vh    
                            font-family: Montserrat
                            font-size: 0.8rem
        &__note
            font-family: Montserrat
            font-size: 0.6rem
            text-align: center
            color: #4B4B4B
    &__apply
        display: flex
        flex-direction: column
        margin-top: 7.5vh
        width: 100vw
        height: 20vh
        background: #F9F9F9
        & > a
            margin-left: 41vw
            margin-top: 3vh
            text-align: center
            padding-top: 2vh
            text-decoration: none
            width: 18vw
            height: 5vh
            border-radius: 5px
            font-family: Montserrat
            color: white
            background: $accentblue
            border: none
        & > p 
            text-align: center
            font-family: Montserrat
            &:first-child
                margin-top: 3vh
                margin-bottom: 0
            &:last-child
                color: $russianblue
                margin-top: -1vh
                margin-bottom: 2vh
    &__unavailable
        padding-top: 7.5vh
        padding-left: 19.5vw
        padding-right: 19.5vw
        & > h1 
            font-family: Exo
            color: $accentblue
            & > label
                color: $russianred
        &__container
            margin-top: 5vh
            display: flex
        &__points
            display: flex
            flex-direction: column
            width: 30vw
            &__item
                border-left: 4px solid $russianred
                height: 7.5vh
                padding-left: 2vw
                margin-bottom: 3vh
                & > h3 
                    margin-top: 0
                    margin-bottom: 0
                    font-family: Exo
                    text-transform: uppercase
                & > p 
                    margin-top: 0.5vh
                    font-family: Montserrat
                    font-size: 0.8rem
        &__additional
            margin-left: 7vw
            padding-top: 4vh
            padding-left: 2vw
            padding-right: 1.5vw
            padding-bottom: 3vh
            height: 30vh
            width: 25vw
            border-radius: 15px
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
            & > h3 
                font-family: Exo
                color: $russianblue
            & > p 
                font-family: Montserrat
    &__faq
        margin-top: 7vh
        & > h1 
            text-align: center
            font-family: Exo
            color: $accentblue
            margin-bottom: 4vh
        &__item
            margin-top: 1vh
            margin-left: 20vw
            margin-right: 20vw
            width: 56vw
            border: 1px solid #E6E6E6
            padding-left: 2vw
            padding-right: 2vw
            padding-top: 3vh
            padding-bottom: 3vh
            transition: 0.6s all ease
            &__toggle
                margin-top: -3vh
                margin-left: -2vw
                margin-bottom: -3vh
                margin-right: -2vw
                appearance: none
                outline: none
                z-index: 10001
                height: 8vh
                width: 60vw
                &:checked ~ .info__faq__answer
                    display: block
                &:checked 
        &__question
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: -2vh
            & > label
                font-family: Montserrat
            & > div
                height: 1vh
                width: 1vw
                background-image: url('../public/pictures/arrow_down.svg')
                background-repeat: no-repeat
                background-size: contain
        &__answer
            display: none
            font-family: Montserrat
            margin-top: 2.5vh
            border-top: 1px solid #E6E6E6
            padding-top: 5vh


.contacts
    display: flex
    justify-content: space-between
    width: 60vw
    margin-top: 10vh
    padding-top: 5vh
    padding-bottom: 6vh
    padding-left: 20vw
    padding-right: 20vw
    background-color: $russianblue
    &__text
        color: white
        & > h1
            margin-bottom: 0
            font-family: Exo
        & > p
            font-family: Montserrat 
    &__picture
        margin-top: 2vh
        height: 12vh
        width: 12vh
        border-radius: 10000px
        background-color: white
        background-image: url('../public/pictures/mail.svg')
        background-repeat: no-repeat
        background-size: 8vh auto
        background-position: center

aside
    display: flex

.app
    padding-top: 6vh
    padding-left: 20vw
    padding-bottom: 6vh
    & > h2 
        font-family: Exo
        font-size: 2rem
        font-weight: bold
        color: $russianred
        margin-top: 11vh
        margin-bottom: 2vh
    & > p 
        margin-top: 0
        margin-bottom: 6vh
        font-family: Montserrat
    &__links
        display: flex
        & > button 
            display: flex
            margin-right: 2vw
            height: 5vh
            width: 10vw
            background-color: #383838
            border: none
            border-radius: 5px
            padding-top: 0.8vh
            cursor: pointer
            & > span
                margin-top: 0.5vh
                font-family: ProximaNova
                color: white
            &:first-child > div
                height: 3vh
                width: 2vw
                margin-right: 0.8vw
                background-image: url('../public/pictures/apple.svg')
                background-repeat: no-repeat
                background-position: center
                background-size: contain
            &:last-child > div
                height: 3vh
                width: 2vw
                margin-right: 0.8vw
                background-image: url('../public/pictures/google_play.svg')
                background-repeat: no-repeat
                background-position: center
                background-size: contain

.app_picture
    z-index: 1001
    padding-right: 16vw
    margin-top: 6vh
    height: 48vh
    width: 48vh
    background-image: url('../public/pictures/app 1.png')
    background-repeat: no-repeat
    background-position: left
    background-size: contain


footer 
    margin-top: 6vh
    height: 4vh
    width: 60vw
    padding-top: 2vh
    padding-bottom: 4vh
    padding-left: 20vw
    padding-right: 20vw
    display: flex
    justify-content: space-between
    & > div
        display: flex
        & > h4
            margin: 0
            color: $accentblue
            font-family: Exo
            & > label
                color: $russianred
        & > span
            padding-top: 0.7vh
            font-size: 0.8rem
            font-family: Montserrat
            margin-left: 1.5vw
            border-left: 1px solid #C5C5C5
            padding-left: 1.5vw
    & > span
        padding-top: 0.7vh
        font-family: Montserrat
        color: #4B4B4B
        font-size: 0.7rem

    

.info__pict
    display: inline-block
    background-color: #F5F5F5
    margin-top: 2vh
    margin-left: 2vw
    margin-right: 1vw
    height: 4vw
    width: 4vw
    border-radius: 10000px
    
#adult
    background-image: url('../public/pictures/adult.svg')
    background-repeat: no-repeat
    background-size: 2vw auto
    background-position: center 

#exp
    background-image: url('../public/pictures/3.svg')
    background-repeat: no-repeat
    background-size: 1vw auto
    background-position: center 

#tax
    background-image: url('../public/pictures/tax.svg')
    background-repeat: no-repeat
    background-size: 2.2vw auto
    background-position: 1.1vw

#old
    background-image: url('../public/pictures/old.svg')
    background-repeat: no-repeat
    background-size: 2vw auto
    background-position: center 


// ========================================

#cube-loader 
  align-items: center
  background-color: white
  display: flex
  height: 100%
  width: 100%
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 12843254523
  & .caption 
    margin: 0 auto
  
  .cube-loader 
    width: 73px
    height: 73px
    margin: 0 auto
    margin-top: 49px
    position: relative
    transform: rotateZ(45deg)

    & .cube 
      position: relative
      transform: rotateZ(45deg)
      width: 50%
      height: 50%
      float: left
      transform: scale(1.1)
    & .cube:before 
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(52, 73, 94, 1.0)
      animation: cube-loader 2.76s infinite linear both
      transform-origin: 100% 100%
    & .loader-2 
      transform: scale(1.1) rotateZ(90deg)
    & .loader-3 
      transform: scale(1.1) rotateZ(180deg)
    & .loader-4 
      transform: scale(1.1) rotateZ(270deg)
    & .loader-2:before 
      animation-delay: 0.35s
    & .loader-3:before
      animation-delay: 0.69s
    & .loader-4:before 
      animation-delay: 1.04s

@keyframes cube-loader 
  0%, 10% 
    transform: perspective(136px) rotateX(-180deg)
    opacity: 0
  25%, 75% 
    transform: perspective(136px) rotateX(0deg)
    opacity: 1
  90%, 100% 
    transform: perspective(136px) rotateY(180deg)
    opacity: 0